.page-link {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: var(--light-color);
    border-radius: .5rem !important;
    transition: all .5s ease;
}

.page-link:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.page-item.active .page-link {
    color: var(--light-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.dots {
    pointer-events: none;
}