.custom-card {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: .1rem solid var(--tertiary-color);
    border-radius: .5rem;
}

.favorite-icon-container {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    background-color: var(--primary-color);
    border: .1rem solid var(--tertiary-color);
    border-radius: .5rem;
    cursor: pointer;
}

.favorite-icon {
    color: var(--secondary-color);
}

.favorite-icon.bi-heart-fill {
    color: var(--secondary-color);
}