.favorite-icon-container {
    background-color: var(--light-color);
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    border: .1rem solid var(--dark-color);
    border-radius: .5rem;
    cursor: pointer;
}

.favorite-icon {
    color: var(--accent-color);
}

.favorite-icon.bi-heart-fill {
    color: var(--accent-color);
}

.input-small {
    width: 5ch;
}

.btn-outline-secondary:hover {
    background-color: var(--accent-color);
}

.btn-outline-secondary:active {
    background-color: var(--dark-color) !important;
}