.hero {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.custom-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.custom-btn:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    transition: color .5s ease, background-color .5s ease;
}