.item-container {
    text-decoration: none;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: .1rem solid var(--tertiary-color);
    border-radius: .5rem;
    transition: all .5s ease;
    position: relative;
}

.item-container:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.wishlist-icon-container {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    cursor: pointer;
}

.wishlist-icon {
    color: var(--primary-color);
}

.wishlist-icon.bi-heart-fill {
    color: var(--secondary-color);
}