.navbar-collapse {
    background-color: var(--secondary-color);
}

.nav-link {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--tertiary-color);
    transition: color .5s ease;
}

.nav-link.active {
    color: var(--tertiary-color) !important;
}