.header-container {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 20vh;
    background-color: var(--accent-color);
}

.header-logo {
    width: 7.5rem;
    transition: transform .5s ease;
}

.header-logo:hover {
    transform: scale(1.1);
}

.custom-offcanvas {
    background-color: var(--accent-color);
}

.nav-link {
    color: var(--light-color);
    transition: all .5s ease;
}

.nav-link:hover {
    color: var(--dark-color);
}

.nav-link.active {
    color: var(--dark-color);
}

.dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-color);
}

.dropdown-item {
    color: var(--accent-color);
    transition: all .5s ease;
}

.dropdown-item:hover {
    color: var(--light-color);
    background-color: var(--accent-color);
}

.dropdown-item.active {
    color: var(--light-color);
    background-color: var(--accent-color);
}

.nav-bar-icon {
    font-size: 1.5rem;
    color: var(--light-color);
    transition: color .5s ease;
}

.nav-bar-icon:hover {
    color: var(--dark-color);
}