.custom-footer {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--secondary-color);
}

.footer-link:hover svg {
    fill: var(--secondary-color);
}