/* Normalize CSS */
@import url('normalize.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Raleway:wght@600');

/* Colors */
:root {
    --light-color: #ffcfcf;
    --accent-color: #f6592c;
    --dark-color: #533786;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

/* Main */
.main-container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 20vh;
}

/* Buttons */
.custom-btn {
    color: var(--light-color);
    background-color: var(--accent-color);
    transition: all .5s ease;
}

.custom-btn:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.custom-btn:focus,
.custom-btn.focus {
    color: var(--light-color);
    background-color: var(--dark-color);
    box-shadow: 0 0 0 .25rem rgba(83, 55, 134, .5);
    outline: none;
}

.custom-btn:disabled,
.custom-btn.disabled {
    color: var(--dark-color);
    background-color: var(--light-color);
    border-color: var(--dark-color);
    cursor: not-allowed;
}

/* Forms */
.form-control {
    color: var(--dark-color) !important;
}

.form-control:focus,
.form-check-input:focus {
    border-color: var(--dark-color);
    box-shadow: 0 0 0 .1rem var(--dark-color);
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--dark-color);
}

/* Borders */
.custom-border {
    color: var(--dark-color);
    background-color: var(--light-color);
    border: .1rem solid var(--dark-color);
    border-radius: .5rem;
}

/* Tables */
.custom-table {
    --bs-table-bg: var(--light-color);
    --bs-table-color: var(--dark-color);
}

.custom-table th,
.custom-table td {
    border: none;
    vertical-align: middle;
}

/* Filters */
.filters-container {
    visibility: hidden;
    height: 0;
}

.filters-container.visible {
    visibility: visible;
    height: auto;
}

/* Sort */
.sort-container {
    visibility: hidden;
    height: 0;
}

.sort-container.visible {
    visibility: visible;
    height: auto;
}