@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Raleway:wght@600');

:root {
    --primary-color: #ffcfcf;
    --secondary-color: #f6592c;
    --tertiary-color: #533786;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding-top: 20vh;
}

.custom-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1);
    transition: all .5s ease;
}

.custom-btn:hover,
.custom-btn:focus {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    transform: scale(1.05);
}

.form-control {
    color: var(--tertiary-color) !important;
}

.form-control:focus,
.form-check-input:focus {
    border-color: var(--tertiary-color);
    box-shadow: 0 0 0 .1rem var(--tertiary-color);
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--tertiary-color);
}

.custom-card {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border: .1rem solid var(--tertiary-color);
    border-radius: .5rem;
}

.custom-table {
    --bs-table-bg: var(--primary-color);
    --bs-table-color: var(--tertiary-color);
}

.custom-table th,
.custom-table td {
    border: none;
    vertical-align: middle;
}

.custom-table tbody tr:hover td:not(:last-child) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.custom-table tbody tr:hover td:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.custom-table tbody tr:hover td:nth-last-child(2) {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.filters-container {
    visibility: hidden;
    height: 0;
}

.filters-container.visible {
    visibility: visible;
    height: auto;
}

.sort-container {
    visibility: hidden;
    height: 0;
}

.sort-container.visible {
    visibility: visible;
    height: auto;
}