@import url('normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Raleway:wght@600');

:root {
    --primary-color: #ffcfcf;
    --secondary-color: #f6592c;
    --tertiary-color: #533786;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

li {
    list-style-type: none;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding-top: 20vh;
}

.custom-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1);
    transition: all .5s ease;
}

.custom-btn:hover,
.custom-btn:focus {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    transform: scale(1.05);
}

.form-control {
    color: var(--tertiary-color) !important;
}

.form-control:focus {
    border-color: var(--tertiary-color);
    box-shadow: 0 0 0 .1rem var(--tertiary-color);
}

.auth-link {
    color: var(--tertiary-color);
    text-decoration: none;
}

.auth-link:hover {
    color: var(--secondary-color);
}