@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Raleway:wght@600');

:root {
    --primary-color: #ffcfcf;
    --secondary-color: #f6592c;
    --tertiary-color: #533786;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}