.item-container {
    position: relative;
    text-decoration: none;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: .1rem solid var(--dark-color);
    border-radius: .5rem;
    transform: scale(1);
    transition: all .5s ease;
}

.item-container:hover {
    transform: scale(1.05);
}

.favorite-icon-container {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    background-color: var(--light-color);
    border: .1rem solid var(--dark-color);
    border-radius: .5rem;
    cursor: pointer;
}

.favorite-icon {
    color: var(--accent-color);
}

.favorite-icon.bi-heart-fill {
    color: var(--accent-color);
}