.footer-container {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.footer-link {
    text-decoration: none;
    color: var(--primary-color);
    transition: color .5s ease;
}

.footer-link:hover {
    color: var(--secondary-color);
}